# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Dependencies
node_modules/
jspm_packages/
bower_components/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/
.nyc_output/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
out/
*.tsbuildinfo

# Database
*.sqlite
*.db
*.dump

# Cache
.npm
.cache/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Uploads
/uploads

# Local development
tmp/
temp/